.content {
    display: flex;
    margin: 60px auto 32px;
    /* padding: 0 16px; */
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh; 
  }

  .card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* margin-top: 16px; */
  }

  .card {
    all: unset;
    border-radius: 4px;
   
    height: 50px;
    width: 50px;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

    margin: 8px 0;
  }

  .swipebox {
    border-radius: 14px;
    /* border: 0px solid #333; */
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2), inset 0px 0px 2px rgba(0,0,0,0.09);
    

    background-color: #EFE5FF;
    height: 300px;
    width: 200px;
  }

  .swipebox img {
    width: 100%;
    height: 100%;

    display: none;

    transform: rotateY(90deg);

    border-radius: 14px;

    animation: img_intro 1s ease-in-out forwards;

  }

  

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
  }