<div class="tphoto"
[@cardAnimator]="animationState"
(@cardAnimator.done)="resetAnimationState($event)"
(swipeleft)='startAnimation("swipeleft")' 
(swiperight)='startAnimation("swiperight")'
>
<td><img src={{currentUser.profilepic}} title="tphoto" alt="Tinder Photo" /></td>
<div class="tname">
  {{currentUser.username}}, <span class="age">{{currentUser.city}}</span>
</div>
<div class="tinfo">
  <i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i>
</div>
</div>
