<div class="login-page">


  <div class="form">
    
    <div class="tphoto">
      <td><img src={{currentUser.profilepic}} title="tphoto" alt="Tinder Photo" /></td>
      <div class="tname">
        {{currentUser.username}}, <span class="age">{{currentUser.city}}</span>
        
        <!--_______________________Einstellungen Person____________________________________________________________-->
        <div *ngIf="currentUser.usertype=='person'">
          <form class="login-form">
      
            <input type="text" name="Nachname" disabled="true"
                        [(ngModel)]="currentUser.surname" #nachname="ngModel"> 
                        <label for="">Nachname</label>
      
      
            <input type="text" name="Vorname" disabled="true"
                        [(ngModel)]="currentUser.firstname" #vorname="ngModel"> 
                        <label for="">Vorname</label>
      
      
            <input type="text" name="Geschlecht" disabled="true"
                        [(ngModel)]="currentUser.gender" #geschlecht="ngModel"> 
                        <label for="">Geschlecht</label>
            
      
            <input type="date" name="Geburtsdatum" disabled="true"
                        [(ngModel)]="currentUser.birthdate" #geburtsdatum="ngModel"> 
                        <label for="">Geburtsdatum</label>
      
      
            <input type="text" name="Job" disabled="true"
                        [(ngModel)]="currentUser.job" #job="ngModel"> 
                        <label for="">Job</label>
            
      
            Hobbys: <input type="text" name="Hobby" disabled="true"
                        [(ngModel)]="currentUser.hobby" #hobby="ngModel"> <br>

          </form>
                    
        </div>

        <div *ngIf="currentUser.usertype=='wg'">
      
          <input type="text" name="WG-Name" disabled="true"
                        [(ngModel)]="currentUser.wgname" #vorname="ngModel"> 
                        <label for="">WG-Name</label>
    
    
      </div>
    </div>
</div>


