:host {
    font-family: "PPPangramSansRounded-Bold";
    font-size: 22px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  
  .content {
    /* margin: 60px auto 32px; */
    /* padding: 0 16px; */
    /* max-width: 960px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 390px;
    height: 844px; 
    
  }

  .swipe_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;

  }

  .card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* margin-top: 16px; */
    
  }

  .card-top a{
    padding-right: 14px;
    padding-left: 14px;

  }

  .card-bottom a{
    padding-right: 14px;
    padding-left: 14px;

  }

  .card-top {
    all: unset;
    border-radius: 4px;
   
    /* height: 50px;
    width: 50px;
    padding: 10px; */
    margin: 8px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

  }

  .card-bottom {
    all: unset;
    border-radius: 4px;
    margin: 14px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

  }

  

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
  }

  .roomylogo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 14px; */
  }

  .roomylogo svg {
    margin: 0 10px;
  }

  .swipebox {
    border-radius: 14px;
    /* border: 0px solid #333; */
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2), inset 0px 0px 2px rgba(0,0,0,0.09);
    

    background-color: #EFE5FF;
    height: 650px;
    width: 370px;
  }

  .swipebox img {
    width: 100%;
    height: 100%;

    display: none;

    transform: rotateY(90deg);

    border-radius: 14px;

    animation: img_intro 1s ease-in-out forwards;

  }

  @keyframes img_intro{
    from{
      opacity: 0;
      transform: rotateY(90deg);
    }
    
    to{
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  


  



  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    
    

    /* .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    } */

    .card.highlight-card span {
      margin-left: 72px;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }