@font-face {
  font-family: "PanGramCustom";
  src: url(../assets/fonts/PPPangramSansRounded-Bold.otf) format("opentype");
  }

:host {
    font-family: "PanGramCustom",'Times New Roman', Times, serif;
    font-size: 22px;
    color: #333;
    box-sizing: border-box;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  a {
    padding: 5px;
    color: #ffffff;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    
    font-weight: 600;
    font-family: "Pangram";
  }

  .toolbar svg {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #tiktok-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  