

<div class="toolbar" role="banner">

  <ul>
    <a routerLink="/chat-component" routerLinkActive="active">chat</a>
    <a routerLink="/login-component" routerLinkActive="active">login</a>
    <a routerLink="/main-ui-component" routerLinkActive="active">main_ui</a>
    <a routerLink="/match-component" routerLinkActive="active">match</a>
    <a routerLink="/profile-component" routerLinkActive="active">profile</a>
    <a routerLink="/profile-box-component" routerLinkActive="active">profile-box</a>
    <a routerLink="/register-component" routerLinkActive="active">register</a>
    <a routerLink="/settings-editing-component" routerLinkActive="active">settings-editing</a>


  
  </ul>

  <div class="spacer"></div>
  
  
</div>

<router-outlet></router-outlet>