<br>
<br>
<br>
<button (click)="accountbtn()" [disabled]="disableAccountbtn">Account</button>   
<span></span>   
<button (click)="profilbtn()"[disabled]="disableProfilbtn">Profil</button>   
<span></span>   
<button (click)="matchingbtn()" [disabled]="disableMatchingbtn">Matching</button>

<!--______________________________________________Formular Accountdaten__________________________________________________________________________________________-->
<div class="login-page">

  <div class="form">
    <td><img src={{Profilbild}} title="tphoto" alt="Profilphoto" /></td>
    <div class="text-center">
      <input class="form-control" type="file" 
              (change)="onChange($event)">
  
      <button (click)="onUpload()" 
          class="btn btn-success">
          Profilbild Hochladen
      </button>
    </div>

    <div *ngIf="showForm=='account'">

      <H2>Account Einstellungen</H2>
    
      <form class="login-form" #userForm="ngForm" (ngSubmit)="sendUserForm(userForm.value); userForm.form.markAsPristine()">
    
        <p class="settings_text" style="font-size: 14;">
          Username
        </p>
          <input class="form-control" type="text" name="Username" required minlength="4"
                          [(ngModel)]="Username" #username="ngModel"><br>
        <div *ngIf="username.invalid && (username.dirty||  username.touched)">
          <div *ngIf="username.errors?.['required']">
            Es wurde kein Username angegeben.
          </div>
          <div *ngIf="username.errors?.['minlength']">
            Ihr Username muss mindestens 4 Zeichen enthalten.
          </div>
        </div> <br>
    
        Email: <input type="email" name="Email" required
                      [(ngModel)]="Email" #email="ngModel"> <br>
        <div *ngIf="email.invalid && (email.dirty||  email.touched)">
          Es wurde keine Email Adresse angegeben.
        </div> 
        <br>
        <button [disabled]="userForm.invalid || userForm.pristine"> Änderungen speichern</button>
      </form>
      {{userMessage}}<br>
      {{emailMessage}}
       
      
      <br>
    
      <button (click)="passwortbtn()">Passwort Ändern</button>
      <br>
      
      <div *ngIf="PasswortAendernbtn==true">
        <form class="login-form" #passwortForm="ngForm" (ngSubmit)="sendPassword(passwortForm.value); passwortForm.form.markAsPristine()">
    
          Altes Passwort: <input type="password" name="PasswortAlt" required minlength="8"
                          [(ngModel)]="PasswortAlt" #passwortAlt="ngModel"> <br>
          <div *ngIf="passwortAlt.invalid && (passwortAlt.dirty||  passwortAlt.touched)">
            <div *ngIf="passwortAlt.errors?.['required']">
              Sie müssen ihr aktuelles Passwort eingeben.
            </div>
          </div>
          {{passwortMessage}}
          <br>
    
          Passwort: <input type="password" name="PasswortNeu" required minlength="8"
                          [(ngModel)]="PasswortNeu" #passwortNeu="ngModel"> <br>
          <div *ngIf="passwortNeu.invalid && (passwortNeu.dirty||  passwortNeu.touched)">
            <div *ngIf="passwortNeu.errors?.['required']">
              Es wurde kein Passwort angegeben.
            </div>
            <div *ngIf="passwortNeu.errors?.['minlength']">
              Ihr Passwort muss mindestens 8 Zeichen enthalten.
            </div>
          </div>
          <br>
    
          Passwort bestätigen: <input type="password" name="PasswortBest" required
                                      [(ngModel)]="PasswortBest" #passwortBest="ngModel"> <br>
          <div *ngIf="passwortBest.invalid && (passwortBest.dirty||  passwortBest.touched)">
            Es wurde keine Passwortbestätigung angegeben.
          </div> 
          {{PasswortError}}<br>
        <button [disabled]="passwortForm.invalid"> Passwort speichern</button>
        {{changeDoneMessage}}
        </form>
      </div>
    </div>
    
    
    
    <!--______________________________________________Formular Profildaten__________________________________________________________________________________________-->
      <div *ngIf="showForm=='profil'">  
        <H2>Profil Einstellungen</H2>
    
        <!--_______________________Einstellungen Person____________________________________________________________-->
        <div *ngIf="kindOfUser=='person'">
          <form class="login-form" #profilPersonForm="ngForm" (ngSubmit)="sendProfil(profilPersonForm.value); profilPersonForm.form.markAsPristine()">
            Nachname: <input type="text" name="Nachname" required
                            [(ngModel)]="Nachname" #nachname="ngModel"> <br>
            <div *ngIf="nachname.invalid && (nachname.dirty||  nachname.touched)">
              Es wurde kein Nachname angegeben.
            </div> <br>
        
        
            Vorname: <input type="text" name="Vorname" required
                        [(ngModel)]="Vorname" #vorname="ngModel"> <br>
            <div *ngIf="vorname.invalid && (vorname.dirty||  vorname.touched)">
              Es wurde kein Vorname angegeben.
            </div> <br>
        
            Geschlecht: <input type="text" name="Geschlecht"
                        [(ngModel)]="Geschlecht" #geschlecht="ngModel"> <br>
            <br>
        
            Geburtsdatum: <input type="date" name="Geburtsdatum" required
                        [(ngModel)]="Geburtsdatum" #geburtsdatum="ngModel"> <br>
            <div *ngIf="geburtsdatum.invalid && (geburtsdatum.dirty||  geburtsdatum.touched)">
              Es wurde kein Geburtsdatum angegeben.
            </div> <br>
    
            Job: <input type="text" name="Job"
                        [(ngModel)]="Job" #job="ngModel"> <br>
            <br>
    
            Hobbys: <input type="text" name="Hobby"
                        [(ngModel)]="Hobby" #hobby="ngModel"> <br>
            <br>
            <h3>Haustiere</h3>
            Hund: <mat-checkbox  name ="hundCheck" [(ngModel)]="Hund" (click)="changehundCheck(Hund)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
            <br>
            Katze: <mat-checkbox  name ="katzeCheck" [(ngModel)]="Katze" (click)="changekatzeCheck(Katze)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
            <br>
            Vogel: <mat-checkbox  name ="vogelCheck" [(ngModel)]="Vogel" (click)="changevogelCheck(Vogel)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
            <br>
            Andere Tiere: <mat-checkbox  name ="andereTiereCheck" [(ngModel)]="AndereTiere" (click)="changeAndereTiereCheck(AndereTiere)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
            <br>
            <br> <br>
            <button  [disabled]="profilPersonForm.invalid || profilPersonForm.pristine || profileSubmitbtn" > Änderungen speichern</button>
            <br>
            {{changeDoneMessage}}
        
          </form>
        </div>
    
    <!--_______________________Einstellungen WG____________________________________________________________-->
        <div *ngIf="kindOfUser=='wg'">
          <form class="login-form" #profilWGForm="ngForm" (ngSubmit)="sendProfil(profilWGForm.value); profilWGForm.form.markAsPristine()">
            WG Name: <input type="text" name="WGName" required
                            [(ngModel)]="WGName" #wgname="ngModel"> <br>
            <div *ngIf="wgname.invalid && (wgname.dirty||  wgname.touched)">
              Es wurde kein WG Name angegeben.
            </div> <br>
    
            Postleitzahl: <input type="text" name="Postleitzahl" required
                          [(ngModel)]="Postleitzahl" #postleitzahl="ngModel"> <br>
          <div *ngIf="postleitzahl.invalid && (postleitzahl.dirty||  postleitzahl.touched)">
            Es wurde keine Postleitzahl angegeben.
          </div> <br>
      
          Stadt: <input type="text" name="Stadt" required
                          [(ngModel)]="Stadt" #stadt="ngModel"> <br>
          <div *ngIf="stadt.invalid && (stadt.dirty||  stadt.touched)">
            Es wurde keine Stadt angegeben.
          </div> <br>
    
          Land: <input type="text" name="Land" required
                          [(ngModel)]="Land" #land="ngModel"> <br>
          <div *ngIf="land.invalid && (land.dirty||  land.touched)">
            Es wurde kein Land angegeben.
          </div> <br>
    
          Plätze gesamt: <input type="number" name="SlotsGesamt" required
                          [(ngModel)]="SlotsGesamt" #slotsGesamt="ngModel"> <br>
          <div *ngIf="slotsGesamt.invalid && (slotsGesamt.dirty||  slotsGesamt.touched)">
            Fehlerhafte Eingabe.
          </div> <br>
      
          Freie Plätze: <input type="number" name="FreieSlots" required
                          [(ngModel)]="FreieSlots" #freieSlots="ngModel"> <br>
          <div *ngIf="freieSlots.invalid && (freieSlots.dirty||  freieSlots.touched)">
            Fehlerhafte Eingabe.
          </div> <br>
    
          Preis: <input type="number" name="Preis" required
                          [(ngModel)]="Preis" #preis="ngModel"> <br>
          <div *ngIf="preis.invalid && (preis.dirty||  preis.touched)">
            Fehlerhafte Eingabe.
          </div> <br>

          <h3>Haustiere</h3>
          Hund: <mat-checkbox  name ="hundCheck" [(ngModel)]="Hund" (click)="changehundCheck(Hund)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
          <br>
          Katze: <mat-checkbox  name ="katzeCheck" [(ngModel)]="Katze" (click)="changekatzeCheck(Katze)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
          <br>
          Vogel: <mat-checkbox  name ="vogelCheck" [(ngModel)]="Vogel" (click)="changevogelCheck(Vogel)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
          <br>
          Andere Tiere: <mat-checkbox  name ="andereTiereCheck" [(ngModel)]="AndereTiere" (click)="changeAndereTiereCheck(AndereTiere)" (change)="activateProfileSubmitButtonCheckbox($event)"></mat-checkbox>
          <br>
          <br> <br>
          <button [disabled]="profilWGForm.invalid || profilWGForm.pristine || profileSubmitbtn"> Änderungen speichern</button>
          <br>
          {{changeDoneMessage}}
        
          </form>
        </div>
    </div>
    
    <!--______________________________________________Formular Matchdaten__________________________________________________________________________________________-->
    <div *ngIf="showForm=='matching'">  
      <H2>Matching Einstellungen</H2>
      
      <form class="login-form" #matchingForm="ngForm" (ngSubmit)="sendMatching(matchingForm.value)">
      <div *ngIf="kindOfUser=='person'">
          Postleitzahl: <input type="text" name="SuchePostleitzahl" required
                          [(ngModel)]="SuchePostleitzahl" #suchepostleitzahl="ngModel"> <br>
          <div *ngIf="suchepostleitzahl.invalid && (suchepostleitzahl.dirty||  suchepostleitzahl.touched)">
            Es wurde keine Postleitzahl angegeben.
          </div> <br>
    
          Stadt: <input type="text" name="SucheStadt" required
                          [(ngModel)]="SucheStadt" #suchestadt="ngModel"> <br>
          <div *ngIf="suchestadt.invalid && (suchestadt.dirty||  suchestadt.touched)">
            Es wurde keine Stadt angegeben.
          </div> <br>
    
          Land: <input type="text" name="SucheLand" required
                          [(ngModel)]="SucheLand" #sucheland="ngModel"> <br>
          <div *ngIf="sucheland.invalid && (sucheland.dirty||  sucheland.touched)">
            Es wurde kein Land angegeben.
          </div> 
          <br>
      </div>
      
      Lautstärker: 0<mat-slider min="0" max="10" step="1" [(ngModel)]="Lautstaerke" thumbLabel (input)="activateSubmitButton($event)"></mat-slider>10
      <br>
      Sauberkeit: 0<mat-slider min="0" max="10" step="1" [(ngModel)]="Sauberkeit" thumbLabel (input)="activateSubmitButton($event)"></mat-slider>10
      <br>
      Kochen: 0<mat-slider min="0" max="10" step="1" [(ngModel)]="Kochen" thumbLabel (input)="activateSubmitButton($event)"></mat-slider>10
      <br>

      Raucher: <mat-checkbox  name ="raucherCheck" [(ngModel)]="Raucher" (click)="changeRaucherCheck(Raucher)" (change)="activateSubmitButtonCheckbox($event)"></mat-checkbox>
      <br>
      Suchend: <mat-checkbox name="suchendCheck" [(ngModel)]="AktuellSuchend" (click)="changeSuchendCheck(AktuellSuchend)" (change)="activateSubmitButtonCheckbox($event)"></mat-checkbox>{{AktuellSuchend}}
      <br>
      <button (click)="submitMatchingbtn();matchingForm.form.markAsPristine()" [disabled]="matchingSubmitbtn"[disabled]="matchingForm.invalid || matchingForm.pristine"  >Änderungen Speichern</button>
      <br>
      {{changeDoneMessage}}
    </form>
    
    </div>
    
  </div>
</div>

