input.ng-dirty.ng-touched
 {
    border-color: #51ff00;
}

input.ng-invalid.ng-touched
 {
    border-color: #ff4c6a;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:host{
  -webkit-tap-highlight-color: transparent;     
  
}

H2{

  font-size: 17px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


.login-page {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 390px;
  height: 844px;
}
.form {

  position: relative;

  width: 100%;

  
  /* z-index: 1; */
  background: #FFFFFF;
  
  padding: 37px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

  text-align: right;

  border-radius: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8940FF;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 14px;

}

.settings-nav{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  
  justify-content: space-between;
}

label{
  position: absolute;
  /* top: 50%; */
  left: 51px;
  font-size: 14px;
  letter-spacing: 0.5px;
  transform: translateY(+80%);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #8940FF;
  font-weight: bold;

}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reg-button:active{
  background-color: #E2D0FF;
  transform: scale(0.97);
}

.nav-button button:hover,.button:active,.button:focus {
  background-color: #E2D0FF;
  transform: scale(0.97);

} 

.error-message{
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  color: red;
  font-size: 12px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #000000;
  text-decoration: none;
}

