.tphoto img {
    height: 100%; 
    width: 100%;


    border-radius: 14px;

    /* animation: img_intro 1s ease-in-out forwards; */
}

.tphoto{
  animation: img_intro 1s ease-in-out forwards;

}

h2 {
  margin: 5px;
}

p {
  margin: 5px;
}



@keyframes img_intro{
    from{
      opacity: 0;
      transform: rotateY(90deg);
    }
    
    to{
      opacity: 1;
      transform: rotateY(0deg);
    }
  }