


<!-- <button (click)="pushPerson()">Person</button>    <button (click)="pushWG()">WG</button> -->

<div class="login-page">
  <div class="form">
    <div class="login-form">

      <div class="p-button">
        <button  (click)="pushPerson()">Person</button>    
        <button  (click)="pushWG()">WG</button>
      </div>
      


      <div *ngIf="showPerson">
        <!-- <H2>Als Person Registrieren</H2> -->
        
        <form class="login-form" #registerForm="ngForm" (ngSubmit)="sendRegister(registerForm.value)">
          <input type="text" name="Username" placeholder="Username" required minlength="4"
                            [(ngModel)]="Username" #username="ngModel">
          <div *ngIf="username.invalid && (username.dirty||  username.touched)">
            <div *ngIf="username.errors?.['required']">
              <p class="error-message">
                Es wurde kein Username angegeben.
              </p>
            </div>
            <div *ngIf="username.errors?.['minlength']">
              <p class="error-message">
                Ihr Username muss mindestens 4 Zeichen enthalten.
              </p>
            </div>
          </div> 
      
      
          <input type="email" name="Email" placeholder="Email" required
                        [(ngModel)]="Email" #email="ngModel"> 
          <div *ngIf="email.invalid && (email.dirty||  email.touched)">
            <p class="error-message">
              Es wurde keine Email Adresse angegeben.
            </p>
          </div> 
      
      
          <input type="text" name="Nachname" placeholder="Nachname" required
                          [(ngModel)]="Nachname" #nachname="ngModel"> 
          <div *ngIf="nachname.invalid && (nachname.dirty||  nachname.touched)">
            
            <p class="error-message">
              Es wurde kein Nachname angegeben.
            </p>
          </div> 
      
      
          <input type="text" name="Vorname" placeholder="Vorname" required
                      [(ngModel)]="Vorname" #vorname="ngModel"> 
          <div *ngIf="vorname.invalid && (vorname.dirty||  vorname.touched)">
            
            <p class="error-message">
              Es wurde kein Vorname angegeben.
            </p>
          </div> 
      
          <input type="text" name="Geschlecht" placeholder="Geschlecht" required
                      [(ngModel)]="Geschlecht" #geschlecht="ngModel"> 
          <div *ngIf="geschlecht.invalid && (geschlecht.dirty||  geschlecht.touched)">
            <p class="error-message">
              Es wurde kein Geschlecht angegeben.
            </p>
          </div> 
      
          <input type="date" name="Geburtsdatum" placeholder="Geburtsdatum" required
                      [(ngModel)]="Geburtsdatum" #geburtsdatum="ngModel"> 
          <div *ngIf="geburtsdatum.invalid && (geburtsdatum.dirty||  geburtsdatum.touched)">
            <p class="error-message">
              Es wurde kein Geburtsdatum angegeben.
            </p>
          </div> 
      
          <input type="password" name="Passwort" placeholder="Passwort" required minlength="8"
                          [(ngModel)]="Passwort" #passwort="ngModel"> 
          <div *ngIf="passwort.invalid && (passwort.dirty||  passwort.touched)">
            <div *ngIf="passwort.errors?.['required']">
              
              <p class="error-message">
                Es wurde kein Passwort angegeben.
              </p>
            </div>
            <div *ngIf="passwort.errors?.['minlength']">
              
              <p class="error-message">
                Ihr Passwort muss mindestens 8 Zeichen enthalten.
              </p>
            </div>
          </div> 
      
      
          <input type="password" name="PasswortBest" placeholder="Passwort bestätigen" required
                                      [(ngModel)]="PasswortBest" #passwortBest="ngModel"> 
          <div *ngIf="passwortBest.invalid && (passwortBest.dirty||  passwortBest.touched)">
            <p class="error-message">
              Es wurde keine Passwortbestätigung angegeben.
            </p>
          </div>
      
          <button [disabled]="registerForm.invalid"> Registrieren</button>
      
        </form>
    
        {{passwordError}}
        {{registerDenied}}
        
          
        
        
      </div>
      
      
      <div *ngIf="showWG">
        <!-- <H2>Als WG Registrieren</H2> -->
        <form class="login-form" #registerForm="ngForm" (ngSubmit)="sendRegister(registerForm.value)">
          <input type="text" name="Username" placeholder="Username" required minlength="4"
                            [(ngModel)]="Username" #username="ngModel">
          <div *ngIf="username.invalid && (username.dirty||  username.touched)">
            <div *ngIf="username.errors?.['required']">
              
              <p class="error-message">
                Es wurde kein Username angegeben.
              </p>
            </div>
            <div *ngIf="username.errors?.['minlength']">
              
              <p class="error-message">
                Ihr Username muss mindestens 4 Zeichen enthalten.
              </p>
            </div>
          </div> 
      
      
          <input type="email" name="Email" placeholder="Mail" required
                        [(ngModel)]="Email" #email="ngModel"> 
          <div *ngIf="email.invalid && (email.dirty||  email.touched)">
            
            <p class="error-message">
              Es wurde keine Email Adresse angegeben.
            </p>
          </div> 
          
      
          <input type="text" name="WGName" placeholder="WG Name" required
                      [(ngModel)]="WGName" #wgname="ngModel"> 
          <div *ngIf="wgname.invalid && (wgname.dirty||  wgname.touched)">
            
            <p class="">
              Es wurde kein WG Namen angegeben.
            </p>
          </div> 
      
      
          <input type="text" name="Postleitzahl" placeholder="Postleitzahl" required
                          [(ngModel)]="Postleitzahl" #postleitzahl="ngModel"> 
          <div *ngIf="postleitzahl.invalid && (postleitzahl.dirty||  postleitzahl.touched)">
            
            <p class="error-message">
              Es wurde keine Postleitzahl angegeben.
            </p>
          </div> 
      
          <input type="text" name="Stadt" placeholder="Stadt" required
                          [(ngModel)]="Stadt" #stadt="ngModel"> 
          <div *ngIf="stadt.invalid && (stadt.dirty||  stadt.touched)">
            
            <p class="error-message">
              Es wurde keine Stadt angegeben.
            </p>
          </div> 
      
          <input type="text" name="Land" placeholder="Land" required
                          [(ngModel)]="Land" #land="ngModel"> 
          <div *ngIf="land.invalid && (land.dirty||  land.touched)">
            
            <p class="error-message">
              Es wurde kein Land angegeben.
            </p>
          </div> 
          
      
      
          <input type="password" name="Passwort" placeholder="Passwort" required minlength="8"
                          [(ngModel)]="Passwort" #passwort="ngModel"> 
          <div *ngIf="passwort.invalid && (passwort.dirty||  passwort.touched)">
            <div *ngIf="passwort.errors?.['required']">
              
              <p class="error-message">
                Es wurde kein Passwort angegeben.
              </p>
            </div>
            <div *ngIf="passwort.errors?.['minlength']">
              
              <p class="error-message">
                Ihr Passwort muss mindestens 8 Zeichen enthalten.
              </p>
            </div>
          </div> 
      
      
          <input type="password" name="PasswortBest" placeholder="Passwort bestätigen" required
                                      [(ngModel)]="PasswortBest" #passwortBest="ngModel"> 
          <div *ngIf="passwortBest.invalid && (passwortBest.dirty||  passwortBest.touched)">
            
            <p class="error-message">
              Es wurde keine Passwortbestätigung angegeben.
            </p>
          </div> 
      

          <div class="reg-button">
            <button [disabled]="registerForm.invalid"> Registrieren</button>
          </div>

      
        </form>

      
        
        
        {{passwordError}}
        
        {{registerDenied}}
      </div>
      <p class="message" style="cursor: pointer;" style="margin-top: 0px;">
        Zurück zur 
        <a (click)="openLog()">
          Anmeldung!
        </a>
      </p>


    </div>
  </div>
</div>


